<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head } from '@inertiajs/vue3';
</script>

<template>
    <Head title="Home" />

    <AuthenticatedLayout>
        <template #header>
           <center>  <h2 class="font-semibold text-xl text-gray-800 leading-tight">Welcome to Porta System</h2></center>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 text-gray-900 text-center">You're logged in! Congratulations</div>
                    <div class="flex justify-center items-center">
                        <img src="img/welcome-porta.png" alt="Porta Logo" class="h-auto w-auto max-h-80 max-w-full">
                    </div>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>
